<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BookProfile Home</title>
</head>

<body style="background-color: beige">
	<h1 style="color: skyblue;">Welcome to BookProfile!</h1>

	<hr>

	<h2 style="color: skyblue">Pages:</h2>
	<ul>
		<li>To search for a book you're interested in, click <a href="/lookup">here</a></li>
		<li>To check out the books you've looked at, click <a href="/profile">here</a></li>
	</ul>
	
	<hr>
</body>

</html>