<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BookProfile Home</title>
</head>

<body>
	<a href="/" target="_blank"><img src="bookHomeImage.jpg" height="80" alt="Line of books"></a>
	<h1>Welcome to BookProfile!</h1>

	<hr>

	<h2>Pages</h2>
	<ul>
		<li>To create a new application, click <a href="/apply">here</a></li>
		<li>To review/update an application, click <a href="/review">here</a></li>
	</ul>
	
	<hr>
</body>

</html>