<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BookProfile: Profile</title>
</head>

<body style="background-color: beige">
    <h1 style="color: skyblue">Profile</h1>

    <%- profileTable %> 

</body>

</html>